<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([-A-z0-9]+)$ game.php?alias=$1 [QSA,L]
    #RewriteRule ^(.*)$ game.php?alias=$1 [QSA,L]
</IfModule>